<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Hi, <%= @designer.first_name %>
    
      It's my pleasure to welcome you to Adddapt! <a href="http://adddapt.herokuapp.com/">.
    
    
      Best,<br/>
      Matthew
    
  </body>
</html>
 