<!-- NOTE: the casein:scaffold generator automatically appends new controllers to this file. The SCAFFOLD_INSERT line must NOT be removed -->
<!-- SCAFFOLD_INSERT -->
<li id="tab-customers"><%= link_to "Customers", casein_customers_path %></li>
<li id="tab-brands"><%= link_to "Brands", casein_brands_path %></li>
<li id="tab-designers"><%= link_to "Designers", casein_designers_path %></li>