<div class="w-section">
  <div class="w-container static-header pink">
    <h1 class="static-header-h1">Branding shouldn’t<br>be so hard.</h1>
  </div>
</div>
<div class="w-section">
  <div class="w-container static-white-section">
    <h1 class="static-white-heading">The perfect design<br>is already waiting for you.</h1>
    <div class="static-white-text-block">Our designers have already done all the hard
      <br>work,&nbsp;crafting beautiful design packages.&nbsp;Our
      <br>packages are completely customiseable and are
      <br>perfect for any business – ranging from start-ups,
      <br>cafes, fashion labels or small businesses.</div>
  </div>
</div>
<div class="w-section">
  <div class="w-container static-grey-section">
    <div class="w-row">
      <div class="w-col w-col-6 centered"><%= image_tag("your-name-illustration.svg", :class => "your-name-here-svg", :width => "280") %>
      </div>
      <div class="w-col w-col-6 centered">
        <h1 class="static-white-heading grey-right">Our brands are<br>completely adddaptable.&nbsp;</h1>
        <div class="static-white-text-block grey-right">After purchasing a brand, you’ll be put in contact
          <br>with the original designer and they’ll be happy to
          <br>personalize the brand to your needs.</div>
      </div>
    </div>
  </div>
</div>
<div class="w-section">
  <div class="w-container static-white-section">
    <h1 class="static-white-heading mbg">Money Back Guarantee</h1>
    <div class="static-white-text-block">If you’re not happy with the files you receive, please
      <br>get in contact with us, and we’ll be more than happy
      <br>to give you a full refund.</div>
  </div>
</div>
<div class="w-section">
  <div class="w-container static-bottom-blue">
    <h1 class="bottom-blue-text">Entrepreneurs – find the perfect brand for your new business.</h1>
    <%= link_to "View Brands", root_path, :class => "button get-started-submit-button bottom-blue-static" %>
  </div>
</div>