<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Hi, <%= @order.line_items.last.brand.designer.first_name %>
    
      You bought a brand!
    
    
      Best,<br/>
      Matthew
    
  </body>
</html>
 